{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css1 %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock css1 %}
    <script src="https://kit.fontawesome.com/b8b606b0e9.js" crossorigin="anonymous"></script>
    <title class="bg-danger" style="background-color:rgba(255, 140, 0, 0.849);">Grabit</title>
    {% block cssBlock %}
    <link rel="stylesheet" href="static/grabit/homepage/style.css">

    {% endblock cssBlock %}
    
    <style>
      .circle {
        border-radius: 50%;
        width:30 px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        background: rgba(247, 127, 29, 0.849);
        border: 3px rgba(247, 127, 29, 0.849);
        color: #fff;
        text-align: center;
        font: 40px;
      }
      body {
            background-color: #f4f4f4;
            padding: 80px 0 0;
        }
    </style>
 
   
</head>
<body>
    <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-5"  href="{% url 'home' %}"><img src="{% static 'grabit/images/price_tag_mirror.png' %}" style=" height:70px;width:70px" alt="company logo"><span style="font-family: sans-serif; font-size:30px; font-weight: bold;">Grab<span class="circle">it</span></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    
    <ul class="navbar-nav ml-auto mr-5" style="margin-right: 10%;">

        <li class="nav-item dropleft mr-3">
        <a class="nav-link dropdown-toggle "  style="font-size: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'home1' 'Stationary' %}">Stationery</a>
          <a class="dropdown-item" href="{% url 'home1' 'Electronics' %}">Electronics</a>
          <a class="dropdown-item" href="{% url 'home1' 'Sports' %}">Sports & Fitness</a>
          <a class="dropdown-item" href="{% url 'home1' 'Grocery' %}">Grocery</a>
        </div>
      </li>

      <li class="nav-item justify-content-between mr-3">
        <a class="nav-link" href="{% url 'chat' %}"><i class="fa-solid fa-comment fa-2xl"></i>&nbsp;&nbsp;</a>
      </li>

      {% if user is None and not user.is_authenticated  %}

      <li class="nav-item justify-content-between mr-3">
        <a class="nav-link"  href="{% url 'login' %}"><i class="fa-solid fa-user-plus fa-xl"></i>&nbsp;</a>
      </li>

      {% else %}
      <li class="nav-item dropdown justify-content-between dropleft mr-3">
        
        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.image  %}
          <img src="{{ user.image.url }}" style="border-radius: 50%; height:30px;width:30px" alt="Avatar">
          {% else %}
          <img src="static/grabit/images/img_avatar.png" style="border-radius: 50%; height:30px;width:30px" alt="Avatar">
          {% endif %}
        </a>
        <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
          <div class="dropdown-item">Hello,<br>{{ user.first_name }}<br>
          <a  href="{% url 'edit_profile' %}">View and edit profile</a>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'my_ads' %}"><i class="fa-solid fa-bullhorn" ></i>&nbsp;My ADS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-circle-question"></i>&nbsp;Help</a>
          <a class="dropdown-item" href="{% url 'setting' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;Settings</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
        </div>
        
      </li>

      {% endif %}

      <li class="nav-item justify-content-between">
        <a class="nav-link justify-content-between" href="{% url 'addProduct' %}" onclick="f1()"><i class="fa-solid fa-square-plus fa-2xl"></i>&nbsp;<span style="font-size: 20px;"  onclick="f1()">Ad</span></a>
      </li>
    </ul>
    
  </div>
    
</nav>

<!-- <img src="static/grabit/images/images.jpg" alt=""> -->
    {% block content %}

    <div class="container">
    <div class="bg-white rounded d-flex align-items-center justify-content-between" id="header"> <button class="btn btn-hide text-uppercase" type="button" data-toggle="collapse" data-target="#filterbar" aria-expanded="false" aria-controls="filterbar" id="filter-btn" onclick="changeBtnTxt()"> <span class="fas fa-angle-left" id="filter-angle"></span> <span id="btn-txt">Hide filters</span> </button>
        
                <ul class="navbar-nav d-lg-flex align-items-lg-center">
                    <li class="nav-item active">
                      <form id="sort_form">
                       <select name="sort" id="sort" onchange="changeFunc(this);">
                            <option value="" hidden selected>Sort by</option>
                            <option value="High to low price">High to low price</option>
                            <option value="Low to high price">Low to high price</option>
                            <option value="likes">likes</option>
                            <option value="Older first">Older first</option>
                            <option value="Newer first">Newer first</option>
                        </select>
                        </form>
                     </li>
                     </ul>
                    
                    <li class="nav-item d-lg-none d-inline-flex"> </li>
                </ul>
            
        
    </div>
    <div id="content" class="my-5">
        <div id="filterbar" class="collapse">
            <div class="box border-bottom">
               <form id="filter_form" method="POST">
                 {% csrf_token %}
                <div> 
                  <label class="tick">To Buy <input name="toBuy" type="checkbox"  onclick="filterFunction(this)"  checked> <span class="check"></span> </label>
                </div>
                <div>
                   <label class="tick">To Sell <input name="toSell" type="checkbox" onclick="filterFunction(this)" > <span class="check" ></span> </label> 
                </div>
                </form>
            </div>
      
           

            
        </div>

    {% if page_obj != none %}
    <div class="row">
        {% for item in page_obj %}
        {% if item.item_availablity %}
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="{% url 'productpage' item.id %}" class="img-wrap" data-abc="true"><img src="{{ item.image1.url }}" class="ml-auto mr-auto" style="height:200px;width:225px;"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="{% url 'productpage' item.id %}" class="title" data-abc="true">{{ item.item_name }}</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a href="{% url 'productpage' item.id %}" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">Rs.{{ item.price }}</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div class="container">
        <h1>Result not found</h1>
    </div>
            
    {% endif %}



        
        <div class="mt-3 mr-2 mr-auto" style="position:fixed; bottom:0; right:0;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"> <span aria-hidden="true" class="font-weight-bold">&lt;</span> <span class="sr-only">Previous</span> </a> </li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                        {% if page_obj.has_next %}
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"> <span aria-hidden="true" class="font-weight-bold">&gt;</span> <span class="sr-only">Next</span> </a> </li>
                        {% endif %}
                    </ul>
                </nav>
         </div>
    </div>
</div>

      
    
    <script>
     /* function f1(){
        if(sessionStorage.getItem('status') == null)
          alert("Please login first!");
      } */


         function changeFunc(e) {
          document.getElementById("sort_form").submit(function(e){
          e.preventDefault();
        });
          
        }

        function filterFunction(event){
          save();
          form = document.getElementById("filter_form");
          function handleForm(event) { event.preventDefault(); } 
          form.submit();
          load();
          
          
       
        
          
        }

        function myfunction(e){
          alert(e.checked)
        }

        var i;

        checkboxes = document.querySelectorAll('input[type=checkbox]');
        function save() {

            for (i = 0; i < checkboxes.length; i++) {

            localStorage.setItem(checkboxes[i].value,checkboxes[i].checked);

            }

        }


        function load() {

          for (i = 0; i < checkboxes.length; i++) {

          checkboxes[i].checked = localStorage.getItem(checkboxes[i].value) === 'true' ? true:false;

          }

        }

 


    </script>

    {% endblock content %}



      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      {% block javascriptBlock %}
      
      <script  src="static/grabit/homepage/script.js"></script>
      
    {% endblock javascriptBlock %}


</body>
</html>