{% extends "grabit/index.html" %}
{% load static %}

{% block cssBlock %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/grabit/login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/grabit/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/grabit/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/grabit/login/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/grabit/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/grabit/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/grabit/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/grabit/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/grabit/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/grabit/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/grabit/login/css/main.css">
<!--===============================================================================================-->
{% endblock cssBlock %}
{% block content %}
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/grabit/login/images/bg-01.jpg'); padding-top:10%;">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}					
					<h4 style="color:red">{{ error_message }}</h4>
					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter Email id">
						<input class="input100" type="text" name="username" placeholder="Email id">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-30">
						<a class="txt1"  href="{% url 'forgot_password' %}">
							Forgot Password?
						</a>
					</div>
					<div class="text-center p-t-30">
						Don't have an account?
						<a class="text-center p-t-30"  style="color: aliceblue;" href="{% url 'register' %}">
							Sign Up 
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
		<script>
			$(document).ready(function(){
				$('.dropdown-toggle').dropdown()
			});
		</script>
	{% endblock content %}

{% block javascriptBlock %}	
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<script src="static/grabit/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/grabit/login/vendor/bootstrap/js/popper.js"></script>
	<script src="static/grabit/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/grabit/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/grabit/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/grabit/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/grabit/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/grabit/login/js/main.js"></script>
{% endblock javascriptBlock %}
