{% extends "grabit/index.html" %}
{% load static %}

{% block cssBlock %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="static/grabit/register/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/grabit/register/css/style.css">
    {% endblock cssBlock %}

{% block content %}
    <div class="main" style="padding-top:10%;">

        <section class="signup">
            <!-- <img src="static/grabit/register/images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <p class="" style="color:red;">{{ error_message }}</p>
                    <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
{% endblock content %}
{% block javascriptBlock %}
    <!-- JS -->
    <script src="static/grabit/register/vendor/jquery/jquery.min.js"></script>
    <script src="static/grabit/register/js/main.js"></script>
    {% endblock javascriptBlock %}
